"formal_name","name","desired_version","latest_version"
"Python","python","3.13.0",""
"Visual Studio Code","vscode","1.85.0",""
"Gitea","gitea","1.21.0",""
"qView","qview","6.0",""
"Tera Term","teraterm","5.0",""
"Firefox ESR","firefox","128.0",""
"Clibor","clibor","2.2.0",""
"Sakura Editor","sakura_editor","2.4.1",""
"WinMerge","winmerge","2.16.30",""
"Wireshark","wireshark","4.2.0",""
"LibreOffice","libreoffice","24.2.0",""
"Microsoft Edge","edge","120.0.0.0",""
"Windows Terminal","windows-terminal","1.18.0",""
"Virt Viewer","virtviewer","11.0",""
"Git for Windows","git","2.43.0",""
